<div class="container">
    <h2 class="section-subheading"> AGPCC Event Managament System</h2><br>
</div>
<div class="container">
    <h4>Ongoing Events</h4>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>About</th>
        <th>Venue</th>
        <th>End Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @current_events.each do |event| %> 
          <tr>
            <td><%= event.title %></td>
            <td><%= event.description %></td>
            <td><%= event.venue %></td>
            <td><%= event.end_time %></td>
            <td><%= link_to 'Check In', controller: "registration", action: "check_in_to", id: event.id %></td>
          </tr>
      <% end %>
    </tbody>
    </table>
</div>
<div class="container">
    <h4>Future Events</h4>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Venue</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Ticket Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @future_events.each do |event| %> 
          <tr>
            <td><%= event.title %></td>
            <td><%= event.venue %></td>
            <td><%= event.start_time %></td>
            <td><%= event.end_time %></td>
            <td><%= event.ticket_price %></td>
            <td><%= link_to 'R.S.V.P.', controller: "registration", action: "rsvp_to", id: event.id %></td>
              
          </tr>
      <% end %>
    </tbody>
    </table>
</div>