<div class="container">
  <h2 class="section-subheading">R.S.V.P</h2>
    <div class="jumbotron">
  <h1><%= @event.title %></h1>
  <h3>on <%= @event.start_time %>  at <%= @event.venue %> </h3>
  <h4> <%= @event.description %></h4>
    </div>

  <h4> Welcome to Aggie Graduate &amp; Professional Community Club! </h4>
  <div class="form-box">
    <%= form_tag(:action => 'create' , :method => 'POST', :id => @event.id, :class => 'form-group') do %>
    <h1>Please enter your email id to R.S.V.P. :</h1>
    <%= email_field(:member, :email, :class=> 'form-control') %>
    <br>
    <%= submit_tag "R.S.V.P", :class => "btn btn-warning"  %>
    <% end %>
  </div>
</div>