<div class="container">
  <h2 class="section-subheading">Check-In to <%= @event.title %></h2>
      <div class="jumbotron">
          <h1><%= @event.venue %></h1>
          <h3><%= @event.title %> </h3>
          <h4> <%= @event.description %></h4>
          <h3 class="blink">&#9673; Live</h3>
      </div>
  <h3> Welcome to Aggie Graduate &amp; Professional Community Club! </h3>

  <div class="form-box">
    <%= form_tag(:action => 'create' , :method => 'POST', :id => @event.id, :class => 'form-group') do %>
    <h1>Please enter your email id to check in:</h1>
    <%= email_field(:member, :email, :class=> 'form-control') %>
    <br>
    <%= submit_tag "Check In", :class => "btn btn-lg btn-warning"  %>
    <% end %>
    <%- unless @lat_lng %>
      <script>
        getGeoLocation();
      </script>
    <%- end %>
  </div>
</div>