<div class="container">
  <h2 class="section-subheading">Check-In to <%= @event.title %></h2>
  <h1> Welcome to Aggie Graduate &amp; Professional Community Club! </h1>
  <div class="form-box">
<%= form_for(:member, :url => {:action => 'create_with_member_details' ,:controller => 'check_in' ,:id => @event.id, :class => 'form-group'}) do |f| %>  
<%= f.label :first_name %><%= f.text_field(:first_name, :class=> 'form-control') %></th></tr>
<%= f.label :last_name %><%= f.text_field(:last_name, :class=> 'form-control') %>
<%= f.label :Email %><%= f.email_field(:email, :class=> 'form-control') %>
<%= f.label :Gender %><%= f.text_field(:gender, :class=> 'form-control') %>
<%= f.label :classification %><%= f.text_field(:classification, :class=> 'form-control') %>
<%= submit_tag ("Check In") %></th></tr>
<% end %>
