<div class="container">
  <h2 class="section-subheading">Check-In to <%= @event.title %></h2>
  <h1> Welcome to Aggie Graduate &amp; Professional Community Club! </h1>
  <h3>Hmm.. Looks like you are checking in for the first time. We need some more information!</h3>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="form-box">
  <%= form_for(:member, :url => {:action => 'create_with_new_member' ,:method => 'POST', :controller => 'check_in' ,:id => @event.id, :class => 'form-group'}) do |f| %>  
    <h4> First Name :</h4>
    <%= f.text_field(:first_name, :class=> 'form-control') %>
    <h4> Last Name :</h4>
    <%= f.text_field(:last_name, :class=> 'form-control') %>
    <h4> Email :</h4>
    <%= f.email_field :email, :class=> 'form-control', :value => @email_id %>
    <h4> Gender :</h4>
    <%= f.select(:gender, Member::GENDER, {}, {class: "form-control"}) %>
    <h4> Classification :</h4>
    <%= f.select(:classification, Member::CLASSIFICATION, {}, {class: "form-control"}) %>
    <br>
    <%= submit_tag "Check In", :class => "btn btn-lg btn-warning"  %>
  <% end %>
  </div>
</div>
